
.container{
  display: flex;
  align-items: center;
  gap: 100px;
}
.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title{
  font-size: 72px;
  background:linear-gradient(to bottom, #b017a1, #bbb) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 3s infinite ease alternate;
}
@keyframes move{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}
.img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.desc{
  font-size: 24px;
  font-weight: 300;
}

